body{
    background-color: #3d75b5;
}

p{
    text-align: center;
    color: #1f1b1d;
    font-size: 30px;
    margin: 25px 50px 75px 100px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-style: double dotted;
    border-color: #0b0336;
    border-width: 10px;
}

div{
    text-align: center;
    background-color: #225454;
    color: #23232c;
    margin: 25px 50px 75px 100px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-style: double dotted;
    border-color: #ff1e00;
    border-width: 10px;
}