body{background-color:#d3ffff;}
  p {color: #800e52; font-size: 40;}
  h1 {color: #4909a3;}
  h2 {color: #ff00ff;}
  h3 {color: #ff0080;}
  #parr1{color:#0000ff}
  .centrar{text-align: center; color:#6f9c20}